<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="TMO.utilities.Reporting"></listener>
    </listeners>
    <test name="e2eSelenium">
        <parameter name="browser" value="chrome"></parameter>
        <classes>
            <class name="TMO.testCases.TC_Login_001">
                <methods>
                    <include name="loginTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>